@tailwind utilities;

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-sky-500 via-pink-600 to-fuchsia-600 bg-clip-text !text-transparent;
  }
}

.bg-checkered {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F0F0F0' d='M0 0h8v8H0zm8 8h8v8H8z'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}
